---
---

@import "{{ site.theme }}";


#header-image {
  margin: auto;
  display: block;
}

.page-header {
  background-image: linear-gradient(120deg, #155799, #1599576e), url('https://i.imgur.com/5Ww5Nmw.gif') !important;
}
